body.up-navbar-top {
  padding-top: 41px;
}

body.up-navbar-sidebar {
  padding-left: 60px;
}

/*body.up-navbar-sidebar.management-menu-wrapper-open {
  padding-left: 350px;
}*/

#up_navbar_header,
#up_navbar_navigation,
#up_navbar_header *,
#up_navbar_navigation * {
  margin: 0;
  outline: 0;
  padding: 0;
  border: 0 none;
  border-radius: 0;
  text-align: left;
  list-style: none;
  text-decoration: none;
  list-style-type: none;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: padding-box;
  background-color: transparent;
}

#up_navbar_header a,
#up_navbar_navigation a {
  color: #555;
  display: block;
}

#up_navbar_header a:hover,
#up_navbar_navigation a:hover {
  color: #888;
}

i.up-icon {
  display: none;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#up_navbar_header {
  position: fixed;
  z-index: 701;
  left: 0;
  right: 0;
  top: 0;
  height: 42px;
  background-color: #0074BD;
  border-bottom: 1px solid #444;
}

#up_navbar_navigation {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 42px;
  bottom: 0;
  width: 60px;
  background-color: #f5f5f5;
  border-top: 1px #dcdcdc solid;
  border-right: 1px solid #ccc;
}

#face_box {
  float: right;
  position: relative;
  margin: 8px 8px 0 0;
}

#face_box .face-box-avatar {
  display: block;
}

#face_box .face-box-avatar .caret {
  width: 0;
  height: 0;
  opacity: 0.8;
  margin: 10px 4px 0 0;
  vertical-align: top;
  display: inline-block;
  border-width: 4px;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

#face_box .face-box-avatar img {
  height: 26px;
  width: 26px;
  border-radius: 4px;
  display: inline-block;
}

#face_box .face-box-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 650;
  list-style: none;
  background-color: #fff;
  margin: 3px 2px 0 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  min-width: 160px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

#face_box .face-box-dropdown a {
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  white-space: nowrap;
  padding: 7px 20px;
  font-size: 12px;
}

#face_box .face-box-dropdown a:hover {
  color: #041521;
  background-color: #f2f2f2;
}

#up_navbar_navigation .up-navbar-navigation-top a,
#up_navbar_navigation .up-navbar-navigation-bottom a {
  height: 24px;
  width: 24px;
  cursor: pointer;
  display: block;
  margin: 15px 0 15px 18px;
  outline: none;
  position: relative;
}

#up_navbar_navigation .up-navbar-navigation-top a span,
#up_navbar_navigation .up-navbar-navigation-bottom a span {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  margin-left: 8px;
}

#up_navbar_navigation .up-navbar-navigation-top a:hover span,
#up_navbar_navigation .up-navbar-navigation-bottom a:hover span {
  clip: inherit;
  height: auto;
  top: 0;
  left: 100%;
  white-space: nowrap;
  min-width: 80px;
  padding: 2px 6px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  border-radius: 4px;
  display: block;
  overflow: visible;
  font-size: 11px;
  z-index: 99;
  width: auto;
}

#up_navbar_navigation .up-navbar-navigation-top a span:before,
#up_navbar_navigation .up-navbar-navigation-bottom a span:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #000000;
  border-width: 6px;
  margin-top: -7px;
}

#up_navbar_navigation .up-navbar-navigation-top a i.up-icon,
#up_navbar_navigation .up-navbar-navigation-bottom a i.up-icon {
  display: block;
  font-size: 24px;
}

.up-navbar-navigation-bottom {
  position: absolute;
  bottom: 15px;
}

#management-menu-wrapper {
  display: none;
  top: -1px;
  left: 60px;
  bottom: 0;
  position: absolute;
  width: 320px;
  padding: 0 20px;
  overflow: auto;
  overflow-x: hidden;
  background-color: #f8f8f8;
  z-index: 3;
}

#management-menu-wrapper.open {
  display: block;
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.5);
}

#management-menu-wrapper a {
  padding: 3px 8px;
  margin: 3px;
  font-size: 12px;
}

#management-menu-wrapper a:hover,
#management-menu-wrapper a.active {
  color: #111;
  background-color: #e9e9e9;
  -webkit-box-shadow: 0 -1px 1px #ddd;
  -moz-box-shadow: 0 -1px 1px #ddd;
  box-shadow: 0 -1px 1px #ddd;
}

#management-menu-wrapper .link-depth-2 > a,
#management-menu-wrapper .link-depth-2 > a:hover,
#management-menu-wrapper .link-depth-2 > a.active {
  display: block;
  font-size: 12px;
  padding: 10px 10px 16px 0;
  margin: 20px 0 8px 0;
  border: 0 none;
  border-bottom: 1px solid #E8E8E8;
  text-transform: uppercase;
  background: transparent;
  -webkit-box-shadow: 0 0 o transparent;
  -moz-box-shadow: 0 -1px 1px transparent;
  box-shadow: 0 -1px 1px transparent;
}

#up_navbar_header_menu {
  float: left;
  margin-top: 14px;
  padding-left: 61px;
}

#up_navbar_header_menu .link-depth-1 {
  background-color: #95be22;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  float: left;
  max-width: 200px;
  margin-right: 3px;
  padding: 5px 11px 5px 8px;
  width: auto;
  height: 28px;
  display: block;
  position: relative;
}

#up_navbar_header_menu .link-depth-1:hover {
  background-color: #8eb520;
}

#up_navbar_header_menu .link-depth-1 > a  {
  color: #fff;
}

#up_navbar_header_menu ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 300px;
  padding: 15px 10px 9px 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

#up_navbar_header_menu ul li ul li {
  display: block;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 19px;
}

#up_navbar_header_menu ul li ul li:hover {
  background-color: #f2f2f2;
}

#up_navbar_header_menu ul li:hover ul {
  display: block;
}

/* Icons */
.management-menu-link i.up-icon:before {
  content: "\f013";
}

.toolbar-icon-escape-admin i.up-icon:before {
  content: "\f015";
}

.up-navbar-name-add-content i.up-icon:before {
  content: "\f040";
}

.up-navbar-name-find-content i.up-icon:before {
  content: "\f002";
}

.up-navbar-name-views i.up-icon:before {
  content: "\f015";
}

div#panels-ipe-control-container {
  z-index: 998;
}

.up-navbar-sidebar #l10n-client.l10n-client-maximized {
  right: 0;
  left: 61px;
  width: auto;
  z-index: 999;
}